/* Navbar */
.navbar {
    font-family: 'Broche', sans-serif;
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000e8; /* Cor de fundo com opacidade */
    z-index: 999;
    padding: 0 15px;
    box-shadow: 0 0 2px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 30px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
}

/* Logo centralizado */
.navbar-brand {
    max-height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar-brand img {
    max-height: 90px; /* Ajuste do tamanho para não ultrapassar o limite */
}

/* Links da Navbar */
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
}

/* Estilos dos links */
.navbar-nav .nav-link {
    margin-left: 25px;
    padding: 35px 0;
    color: var(--secondary);
    font-size: 0.9rem;
    font-weight: 600;
    transition: color 0.5s ease-in-out;
    position: relative;
}

/* Hover e estado ativo para os links */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--light);
}

/* Sombras e transição nos links */
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--light);
    transition: 0.5s;
}

/* Efeito hover nos links */
.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
}

/* Navbar toggler */
.navbar-toggler {
    font-size: 2rem;
    color: var(--secondary);
    border: none;
    background: none;
    box-shadow: 0 0 1px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
    margin-left: 0;
}

/* Ajustes para telas menores */
@media (max-width: 991.98px) {
    .navbar {
        padding: 0 10px;
        background: linear-gradient(354deg, rgba(95, 96, 94, 0.856) 0%, rgba(0, 0, 0, 1) 5%, rgba(36, 35, 35, 1) 49%, rgba(0, 0, 0, 1) 85%, rgba(95, 96, 94, 0.875) 98%);
        box-shadow: 0 0 1px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
        border-radius: 5px;
        border: 2px solid rgba(15, 146, 26, 0.788);
        text-align: center;
    }

    .navbar-nav {
        justify-content: center;
        flex-grow: 0;
    }

    .navbar-brand {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        max-height: 80px;
    }
}

/* Ajustes para telas maiores */
@media (min-width: 992px) {
    .navbar {
        background: linear-gradient(354deg, rgba(95, 96, 94, 0.856) 0%, rgba(0, 0, 0, 1) 5%, rgba(36, 35, 35, 1) 49%, rgba(0, 0, 0, 1) 85%, rgba(95, 96, 94, 0.875) 98%);
    }

    .navbar-nav .nav-link::before {
        display: block;
    }
}




